@font-face
  font-family: 'T-FLEXA'
  src: url('../fonts/T-FLEX Type A.woff2') format('woff2'),
		url('../fonts/T-FLEX Type A.woff') format('woff'),
		url('../fonts/T-FLEX Type A.ttf') format('truetype')
  font-weight: 400
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-0491
  font-display: swap

@font-face
  font-family: 'Exo'
  src: url('../fonts/Exo 2.0.woff2') format('woff2'),
		url('../fonts/Exo 2.0.woff') format('woff'),
		url('../fonts/Exo 2.0.ttf') format('truetype')
  font-weight: 400
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-04C0
  font-display: swap

@font-face
  font-family: 'Myriad'
  src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
		url('../fonts/MyriadPro-Regular.woff') format('woff'),
		url('../fonts/MyriadPro-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-04D9
  font-display: swap
