*, *::after, *::before
  box-sizing: border-box

body
  margin: 0
  padding: 0
  color: $light
  font-family: T-FLEXA, sans-serif
  overflow-x: hidden

img
  // max-width: 100%

button
  background-color: transparent
  border: none
  padding: 0
  cursor: pointer

.container
  max-width: 1140px
  margin: 0 auto

.see-more
  color: $primary
  font-family: EXO
  display: flex
  align-items: center
  &__text
    margin-right: 15px
    border-bottom: 2px solid $primary
    text-transform: uppercase
  &__ico
    margin-left: 6px
    img
      width: 8px
      height: 12px

.arrow-ico
  background-color: $primary
  display: flex
  justify-content: center
  align-items: center
  border-radius: 50%
  width: 32px
  height: 32px
  box-shadow: 0 0 0 7px  rgba($primary, 0.5 )
  img
    width: 8px
    height: 12px

.tag
  writing-mode: vertical-rl
  transform: rotate(180deg)
  text-align: right
  font-family: exo

.slider-arrow
  width: 48px
  height: 48px
  background-repeat: no-repeat
  background-position: 50% 50%
  background-size: 8px 12px
  border: 1px solid $primary
  position: absolute
  top: 50%
  transform: translateY(-50%)
  cursor: pointer
  z-index: 1
  &--next
    background-image: url("../img/arrow-right.svg")
    right: 20px
  &--prev
    background-image: url("../img/arrow-left.svg")
    left: 20px

.first-word-bg span
    background-color: $primary
.first-word-color span
    color: $primary
    font-weight: 700
