.header
  position: relative
  background: url("../img/header-bg3.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: center top
  &__container
    position: relative
    padding-bottom: 220px
  &__bg
    position: absolute
    bottom: 0
    left: -150px
  &-top
    &__container
      display: flex
    &__content-wrapper
      display: flex
      align-items: flex-start
      justify-content: space-between
      width: 100%
      padding-left: 75px
      padding-top: 75px
    &__contacts
      display: flex
      flex-direction: column
    &__phone
      font-size: 30px
      text-decoration: none
      color: inherit
    &__email
      font-family: EXO
      font-size: 16px
      border-bottom: 2px solid $primary
      text-decoration: none
      color: inherit
    &__call
      &-btn
        background: transparent
        border: none
        display: flex
        align-items: flex-start
        padding: 0
        margin: 0
        text-decoration: none
      &-ico
        margin-right: 15px
        background-color: $primary
        padding: 7px 6px 8px 9px
        width: 32px
        height: 32px
        border-radius: 50%
        box-shadow: 0 0 0 7px  rgba($primary, 0.5 )
      &-text
        font-family: EXO
        color: $light
        border-bottom: 2px solid $primary
  &-content
    padding-top: 54px
    &__slider
      width: 1140px
      padding-bottom: 16px
      position: relative
      overflow: hidden
      &-title
        font-family: T-FLEXA
        font-size: 44px
        display: flex
        flex-direction: column
        margin-bottom: 21px
        margin-right: 132px
      &-text
        &--big
          font-size: 86px
    &__slide
      display: flex
      flex-direction: column
      padding: 0 100px
    &__arrow
      width: 48px
      height: 48px
      background-repeat: no-repeat
      background-position: 50% 50%
      background-size: 8px 12px
      border: 1px solid $primary
      position: absolute
      top: 50%
      transform: translateY(-50%)
      cursor: pointer
      z-index: 1
      &--prev
        background-image: url("../img/arrow-right.svg")
        right: 20px
      &--next
        background-image: url("../img/arrow-left.svg")
        left: 20px

    &__text
      &-wrapper
        display: flex
        flex-wrap: wrap
    &__features
      display: flex
      justify-content: flex-start
      font-family: EXO
      font-size: 16px
      margin-bottom: 40px
      &-text
        display: flex
        justify-content: space-between
        align-items: center
        margin-right: 10px
        &::after
          content: ""
          display: flex
          width: 7px
          height: 8px
          margin-left: 10px
          background-color: $primary
          transform: rotate(45deg)
          box-shadow: 0 0 8px 7px  rgba($primary, 0.5 )
        &:last-child
          margin-right: 0
          &::after
            display: none
    &__video
      display: flex
      justify-content: start
      align-items: flex-start
      align-self: flex-end
      margin-bottom: 10px
      &-ico
        padding: 20px 23px 20px 25px
        width: 64px
        height: 64px
        margin-top: 38px
        box-shadow: 0 0 0 15px  rgba($primary, 0.5 )
        position: relative
        &::before
          content: ""
          display: block
          background-color: transparent
          position: absolute
          width: 124px
          height: 124px
          border-radius: 50%
          border: 2px solid rgba($primary, 0.5 )
        img
          width: 15px
          height: 24px
      &-text
        font-family: Myriad
        color: $light
        text-wrap: wrap
        margin-left: 30px
        max-width: 120px

.menu
  &:btn
    display: none
  &--mobile
    display: none
  &__list
    list-style: none
    padding: 0
    margin: 0
    display: flex
    justify-content: space-between
    font-family: T-FLEXA
  &__item
    margin-right: 54px
    font-size: 16px
    text-transform: uppercase
    &:last-child
      margin-right: 0
  &__link
    text-decoration: none
    color: inherit
    &--02, &--03, &--04
      position: relative
      &::before
        content: "02"
        font-family: T-FLEXA
        font-size: 12px
        position: absolute
        color: rgba(255, 255, 255, 0.2)
        left: 50%
        top: -15px
    &--03::before
      content: "03"
      left: 10px
    &--04::before
      content: "04"
      left: -10px

.logo
  width: 57px
  &-wrapper
    border-top: 8px solid $primary
    width: 105px
    display: flex
    justify-content: center
    padding-top: 26px
  &-mobile-wrapper
    display: none
